<div class="pokemondetails">
    <h1>
        <mat-card class="example-card">
            <mat-card-header>

                <mat-card-title>{{pokemonToDisplay.name}}</mat-card-title>
                <mat-card-subtitle>{{pokemonToDisplay.type}} type pokemon</mat-card-subtitle>
            </mat-card-header>
            
            <img class = "spritefront" mat-card-image src={{pokemonToDisplay.spritefront}} alt="Photo of a {{pokemonToDisplay.name}}">
            <mat-card-content>
                <p>
                    {{pokemonToDisplay.pokedexdescription}}
                </p>
            </mat-card-content>
        </mat-card>


    </h1>
</div>