.pokemondetails{
text-align:center;
  
border-top-color: black;

border-top-width: 1px;

border-top-style: solid;

border-right-color: black;

border-right-width: 1px;

border-right-style: solid;

border-bottom-color: black;

border-bottom-width: 1px;

border-bottom-style: solid;

border-left-color: black;

border-left-width: 1px;

border-left-style: solid;

text-align: center;
}
.spritefront{
  width:25%;
}
.mat-card {
  text-align: center;
}