<mat-toolbar color="accent">
        <a routerLink="/products"><img style="height: 50px;" src="https://i.imgur.com/clXg4wn.png" border="0"></a>
        <span class="example-spacer"></span>
    <button routerLink="/products" mat-flat-button color="primary">Products</button>
    &nbsp;
    <button routerLink="/about" mat-flat-button color="primary">About</button>
    &nbsp;
    <button routerLink="/evolution" mat-flat-button color="primary">Evolution</button>
    &nbsp;
    <button routerLink="/detail" mat-flat-button color="primary">Details</button>

</mat-toolbar>

<router-outlet></router-outlet>
