<mat-toolbar color="primary">POKEMON
    <button mat-raised-button color="accent">Click me!</button>

<mat-toolbar color="accent">
        <img style="height: 50px;" src="https://i.imgur.com/clXg4wn.png" border="0">
        <span class="example-spacer"></span>
    <button routerLink="/products" mat-flat-button color="primary">Products</button>
    &nbsp;
    <button routerLink="/about" mat-flat-button color="primary">About</button>
    &nbsp;
    <button routerLink="/evolution" mat-flat-button color="primary">Evolution</button>
    &nbsp;
</mat-toolbar>
<div class="background1"> 
    <div class="background2"> 

<app-products></app-products>
    </div>
</div>
<app-pokemondetail></app-pokemondetail>

<router-outlet></router-outlet>
